<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Secret</h1>
   
    <hr>

     <form method="post" action=" ">
        <div class="form-group">
            <input name="secret" id="email" style="text-transform:lowercase" type="text" class="form-control"
                placeholder="Enter your secret" autofocus="">
        </div>
        
        <div class="form-group">
            <button type="submit"class="btn btn-info">Submit Secret</button>
        </div>
    </form>
    
   
    
  </div>
</div>
</body>
</html>




